@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 21rem;
  height: 100vh;
  background: inherit;
  transform: translateX(-101%);
  transition: 0.5s ease-in-out;
  color: var(--color-muted);

  &__heading {
    display: flex;
    align-items: center;
    gap: 3px;
    padding-left: $gutter;
    height: 7rem;
  }

  &__icon-close {
    color: var(--color-heading);
    margin-left: auto;
    cursor: pointer;
    transition: $transition;
    padding: 0.5rem 0.7rem;
    border-radius: 7px;

    &:hover {
      color: var(--color-light);
      background: var(--color-primary);
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 7rem);
  }

  &__item {
    padding-right: $gutter;

    &:last-child {
      margin-top: auto;
      margin-bottom: 3rem;
    }
  }

  &__link {
    display: flex;
    padding: 1rem $gutter;
    gap: 1rem;
    transition: $transition;
    color: inherit;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 100%;
      background: var(--color-primary);
      position: absolute;
      top: 0;
      left: 0;
      transition: $transition;
    }

    &:hover {
      padding-left: 2.4rem;
      color: var(--color-primary);
      background: var(--color-bg-dark);
    }

    &:hover::after {
      width: 6px;
    }

    &.active {
      color: var(--color-primary);
      background: var(--color-bg-dark);
    }

    &.active::after {
      width: 6px;
    }
  }

  &__menu-icon {
  }

  &__text {
    font-weight: 500;
  }

  &__number {
    color: var(--color-light);
    background: var(--color-secondary);
    padding: 3px 6px 1px;
    font-size: 1.4rem;
    line-height: 0.9;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include lg {
    position: static;
    transform: translateX(0);
    width: 100%;

    &__heading {
      display: none;
    }

    &__icon-close {
      display: none;
    }

    &__text {
      display: none;
    }

    &__item {
      padding-right: 0;

      &:last-child {
        margin-top: inherit;
        margin-bottom: inherit;
      }
    }
  }

  @include xl {
    &__text {
      display: block;
    }

    &__item {
      &:last-child {
        margin-top: auto;
        margin-bottom: 3rem;
      }
    }
  }
}

.aside--expanded {
  transform: translateX(0);
}
