@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.aside {
  border: 1px solid #f00;

  position: fixed;
  top: 0;
  left: 0;
  width: 21rem;
  height: 100vh;
  background: $color-light;
  transform: translateX(-101%);
  transition: 0.5s ease-in-out;

  &__heading {
    display: flex;
    align-items: center;
    gap: 3px;
    padding-left: $gutter;

    height: 7rem;
  }

  // &__logo {
  //   width: 4.5rem;
  //   height: 4.5rem;
  // }

  // &__heading-text {
  //   text-transform: uppercase;
  //   font-weight: 700;
  //   font-size: 2.4rem;
  //   color: $color-heading;
  // }

  // &__text-emphasis {
  //   color: $color-secondary;
  // }

  &__icon-close {
    color: $color-heading;
    margin-left: auto;
    cursor: pointer;
    transition: $transition;
    padding: 0.5rem 0.7rem;
    border-radius: 7px;

    &:hover {
      color: $color-light;
      background: $color-primary;
    }
  }

  &__menu {
    border: 1px solid #0f0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 7rem);
  }

  &__item {
    border: 1px solid #f00;
    padding-right: $gutter;

    &:last-child {
      margin-top: auto;
      margin-bottom: 3rem;
    }
  }

  &__link {
    border: 1px solid #f00;

    display: flex;
    padding: 1rem $gutter;
    gap: 1rem;
    transition: $transition;
    color: $color-heading;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 100%;
      background: $color-primary;
      position: absolute;
      top: 0;
      left: 0;
      transition: $transition;
    }

    &:hover {
      padding-left: 2.4rem;
      color: $color-primary;
      background: $color-muted-light;
    }

    &:hover::after {
      width: 6px;
    }

    &.active {
      color: $color-primary;
      background: $color-muted-light;
    }

    &.active::after {
      width: 6px;
    }
  }

  &__menu-icon {
  }

  &__text {
    font-weight: 500;
  }

  &__number {
    color: $color-light;
    background: $color-secondary;
    padding: 3px 6px 1px;
    font-size: 1.4rem;
    line-height: 0.9;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include lg {
    position: static;
    transform: translateX(0);
    width: 100%;

    &__heading {
      display: none;
    }

    &__icon-close {
      display: none;
    }

    &__text {
      display: none;
    }

    &__item {
      padding-right: 0;

      &:last-child {
        margin-top: inherit;
        margin-bottom: inherit;
      }
    }
  }

  @include xl {
    &__text {
      display: block;
    }

    &__item {
      // padding-right: 0;

      &:last-child {
        margin-top: auto;
        margin-bottom: 3rem;
      }
    }
  }
}

.aside--expanded {
  transform: translateX(0);
}
