$gutter: 1.6rem;

// $color-primary: #757ee2;
// $color-secondary: #ff7a85;
// $color-tertiary: #3af1b8;
// $color-heading: #302f36;
// $color-muted: #94949b;
// $color-muted-light: #e1e2f0;
// $color-light: #fff;

$border-radius: 7px;

$transition: all 0.2s;
