@use "../abstracts/mixins" as *;

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7rem;

  .nav {
  }

  .aside {
  }

  .main {
  }

  @include lg {
    grid-template-columns: 10.5rem 1fr;

    .nav {
      grid-column: 1 / -1;
    }

    .aside {
    }

    .main {
    }
  }

  @include xl {
    grid-template-columns: 20rem 1fr;
  }
}
